
@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h2>It's going to be a wonderful party!</h2>
    <h3>You are invited as well!!</h3>
    @Html.ActionLink("Coming?","InvitationForm", null, new { @class="btn btn-info"})
</div>
